/*DEVELOPER: Taryn Faccenda, IS117-004, Spring, 2025 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
ul::after {
    content: "";
    display: table;
    clear: both;
}
li {
    float: left;
    position: relative;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}
li ul li {
    float: none;
}
li ul li a {
    color: #333;
    padding: 12px 16px;
    text-align: left;
}
li ul li a:hover {
    background-color: #ddd;
}
li:hover > ul {
    display: block;
}

body {
    background-color: blanchedalmond;
    font-family: "Copperplate", "Copperplate Gothic Light", serif;
    text-align: center;
}

* { box-sizing: border-box }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from { opacity: 0.4 }
  to { opacity: 1 }
}

